* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Arial, sans-serif;
  padding: 15px;
  background-color: #484349;
}

/* Header/Blog Title */
.indexheader {
  padding: 15px;
  text-align: center;
  background: #484349;
}

.indexheader h1 {
  font-size: 135px;
  color: #D1462F;
  margin-bottom: 0px;
  margin-top: 0px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #484349;
  margin-top: 0px;
}
.topnav ul{
list-style: none;
padding: 0px;
margin: 0;
text-align: center;
}
.topnav li{
  display: inline-block;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}


.topnav a:hover {
  background-color:#F7F0F0;
  color: black;
}


.column {   
  float: left;
  width: 100%;
}

p {
  line-height: 38px;
}
h2 {
  font-size: 48px;
  margin-top: 0px;
  margin-bottom: 0px;
}
/* Add a card effect for articles */
.card {
  background-color: #F7F0F0;
  padding: 20px;
  margin-top: 20px;
  display:inline-block;
  text-align: center;
  width: 100%;
}
.cardcontent {
  background-color:#F7F0F0;
  display: flex;
  text-align: left;
}
.backgroundinfo {
  padding-left: 35px;
  font-size: 28px;
  font-weight: bold;
}

.albuminfo {
text-align: left;
font-size: 28px;
font-weight: bold;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  background-color: #F7F0F0;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}
#musicsubheader {
  text-decoration: underline;
}

/* Responsive layout */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}